<!DOCTYPE>
<html ng-app="NewApp">
<script src="lib/angular.min.js"></script>
<body>
	<h2>My First AngularApp</h2>
	<div ng-controller="FirstController">
		<h4> {{ modelObj.name }} </h4>
		<p>Modify Name: <input type="text" ng-model="modelObj.name"></p>

		<h4>Angular Factory & Service</h4>
		Calling Factory - Result is {{ response }}

		<h4> Main Section</h4>
		<p>{{ contentStr }}</p>
		<p>Date : {{ dateStr | date : 'dd/MM/yyyy' }}</p>
		Name: <input type='text' ng-model='name'>
	</div>
<script src="app.js"></script>
</body>
</html>